<!-- Responsável pela funcionalidade de Mostrar as Ideias -->

{% extends "layout.html" %}

{% set title = "Casa Moderna: Ideias" %}
{% set css = "/ideias_styles.css" %}
{% set bodyId = "page-ideas" %}

{% block content %}
<div id="container">

  <header>
    <img src="../../src/logo-casa-criativa.png" alt="logo">
    <nav>
      <li><a href="/">Inicio</a></li>
      <li><a href="#">Ideias</a></li>
      <li><a href="#" onclick="onOff('#modal')">Nova Ideia</a></li>
    </nav>
  </header>

  <section id="title">
    <p> em exibição</p>
    <h1>Ideias</h1>
  </section>

  <main>
    <section id="ideias">
      {% include "everyideias.html" %}
    </section>
  </main>

  <footer>
    Com ☕ <strong>Larisse</strong>
  </footer>

</div>
{% endblock %}